/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* BODY */
body {
    min-height: 100vh;
    background: linear-gradient(180deg, #14001f, #0a0014);
    color: #f5e9ff;
}

/* WRAPPER */
.wrapper {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    gap: 30px;
    animation: fadeIn 1s ease;
}

/* PROFILE */
.profile {
    width: 300px;
    background: linear-gradient(180deg, #1c0033, #120021);
    border-radius: 18px;
    padding: 30px;
    text-align: center;
    border: 1px solid #3b0764;
    animation: slideLeft 0.9s ease;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #a855f7;
    margin-bottom: 15px;
    object-fit: cover;
}

.profile h1 {
    font-size: 24px;
    margin-bottom: 6px;
}

.role {
    font-size: 14px;
    color: #d8b4fe;
    margin-bottom: 20px;
}

.contact p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #e9d5ff;
}

/* CONTENT */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* CARD */
.card {
    background: linear-gradient(180deg, #1a002e, #10001d);
    border: 1px solid #3b0764;
    border-radius: 18px;
    padding: 25px;
    animation: slideUp 0.8s ease;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #c084fc;
    letter-spacing: 1px;
}

.card p,
.card li {
    font-size: 14px;
    line-height: 1.7;
    color: #f3e8ff;
}

ul {
    padding-left: 18px;
}

/* SKILLS */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    padding: 7px 16px;
    background: #2e1065;
    border: 1px solid #6b21a8;
    border-radius: 999px;
    font-size: 13px;
    color: #f5e9ff;
    transition: 0.3s ease;
}

.skills span:hover {
    background: #a855f7;
    color: #1a002e;
    transform: translateY(-3px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }

    .profile {
        width: 100%;
    }
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
